In [1]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import json # library to handle JSON files

In [2]:
# import 2016 Census data for Edmonton neighborhoods - Population by Age Range 
df_nb = pd.read_csv('https://data.edmonton.ca/api/views/phd4-y42v/rows.csv?accessType=DOWNLOAD')
df_nb.head ()

,Ward,Neighbourhood Number,Neighbourhood Name,0 - 4,5 - 9,10 - 14,15 - 19,20 - 24,25 - 29,30 - 34,35 - 39,40 - 44,45 - 49,50 - 54,55 - 59,60 - 64,65 - 69,70 - 74,75 - 79,80 - 84,85+,No Response
0,WARD 1,3140,CRESTWOOD,68,83,97,99,76,62,59,74,77,110,116,148,98,100,91,80,64,49,800
1,WARD 1,3330,PARKVIEW,126,162,138,165,155,96,128,149,164,164,218,247,197,146,89,90,82,64,705
2,WARD 11,6110,CPR IRVINE,0,1,0,0,18,44,39,4,1,1,6,1,0,1,0,0,2,0,48
3,WARD 9,5350,RHATIGAN RIDGE,73,130,117,112,112,84,56,83,107,103,142,185,205,171,102,74,42,39,1140
4,WARD 5,4140,ELMWOOD,131,121,130,169,180,185,173,135,154,154,161,133,145,140,92,117,60,51,290

In [5]:
# Remove excessive columns 'Ward' and 'Neighbourhood Number'
df_nb = df_nb.drop(['Ward', 'Neighbourhood Number'], axis=1)
df_nb.head ()

,Neighbourhood Name,0 - 4,5 - 9,10 - 14,15 - 19,20 - 24,25 - 29,30 - 34,35 - 39,40 - 44,45 - 49,50 - 54,55 - 59,60 - 64,65 - 69,70 - 74,75 - 79,80 - 84,85+,No Response
0,CRESTWOOD,68,83,97,99,76,62,59,74,77,110,116,148,98,100,91,80,64,49,800
1,PARKVIEW,126,162,138,165,155,96,128,149,164,164,218,247,197,146,89,90,82,64,705
2,CPR IRVINE,0,1,0,0,18,44,39,4,1,1,6,1,0,1,0,0,2,0,48
3,RHATIGAN RIDGE,73,130,117,112,112,84,56,83,107,103,142,185,205,171,102,74,42,39,1140
4,ELMWOOD,131,121,130,169,180,185,173,135,154,154,161,133,145,140,92,117,60,51,290

In [6]:
# Let see the size of the frame
df_nb.shape

(388, 20)